{% extends 'layout.html' %} {% block content %}
<div class="col-xl-7 col-md-9 col-11 mx-auto">
    <div class="row my-3 d-flex flex-row">
        <div class="col-4 col-lg-3 align-self-center">
            <img src="{{ profile.avatar.url }}" alt="avatar" class="profile-avatar">
        </div>
        <div class="col-8 col-lg-9 d-flex flex-row">
            <div class="align-self-center d-flex flex-column fit-content h-100">
                <p class="display-4 h6">{{ profile.user.username }}</p>
                {% if profile.user.is_staff %}
                    <p class="lead">Administrator</p>
                {% endif %}
            </div>
            {% if profile.user.id == user.id %}
                <a href="{% url 'EditProfile' user.id %}" class="btn secondary-btn ms-auto px-3" style="height: max-content;">Edit</a>
            {% endif %}
        </div>
    </div>
    <div class="mt-4 ms-3">
        <p class="h5 mb-3">Email: 
            <a href="mailto: {{ profile.user.email }}" target="_blank" class="color-main my-link">
                {{ profile.user.email }}
            </a>
        </p>
        {% if profile.bio %}
            <p>{{ profile.bio }}</p>
        {% else %}
            <p>No biography yet.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}