{% extends 'layout.html' %}
{% load static %}

{% block header %}
<div class="bg-dark o-98 p-0 m-0">
    <h1 class="mb-5 mt-4 py-5 text-center text-white" style="font-size: 4rem;">{{ page }}</h1>
</div>
{% endblock header %}

{% block content %}
<div class="row d-flex flex-row col-xl-7 col-md-9 col-11 mx-auto mb-3">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send" class="btn btn-main w-100" />
    </form>
</div>
{% endblock content %}
