{% extends 'layout.html' %}
{% load static %}
{% block header %}
<div class="bg-dark o-98 p-0 m-0">
    <h1 class="mb-5 mt-4 py-5 text-center text-white" style="font-size: 4rem;">{{ page }}</h1>
</div>
{% endblock header %}

{% block content %}            
    {% if not posts %}
        <span class="text-center h6 d-block mt-3">
            {{ no_posts_message }}
        </span>
    {% else %}
        <div class="d-flex flex-row flex-wrap">
            {% for post in posts %}
                {% include 'blog/post_card.html' %}     
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
