{% extends 'layout.html' %}

{% block header %}
<div class="bg-dark o-98 p-0 m-0">  
    <h1 class="mb-5 mt-4 py-5 text-center text-white" style="font-size: 4rem;">
      {{ action_title }}
    </h1>    
</div>
{% endblock header %}

{% block content %}
<form
  method="post"
  action="{% if page == 'Create post' %}{% url 'Create' %}{% else %}{% url 'Update' post_id %}{% endif %}"
  class="my-form col-xl-7 col-md-9 col-11 mx-auto mb-3"
  id="postForm"
  enctype="multipart/form-data"
>
  {{ form.errors }} {% csrf_token %} {{ form.media }} {{ form.as_p }}
  <span>Tags:</span>
  <ul id="tagList" class="card bg-light mt-2 p-2 tag-list">
    <span class="text-center text-muted w-100 {% if post_tags %} d-none {% endif %}"
          id="noTagsText">
          No tags added
    </span>
    {% if post_tags %}
      {% for tag in post_tags %}
        <li class="card px-2 my-1 tag-item" id="{{ tag.id }}">{{ tag.name }}</li>
      {% endfor %}
    {% endif %}
  </ul>
  
  <label for="exampletDataList" class="form-label d-block">Add tags:</label>
  <div class="d-flex flex-row justify-content-between mb-3">
    <input
    class="form-control d-inline me-2"
    list="datalistOptions"
    id="tagDataList"
    placeholder="Add a tag..."
    />
    <datalist id="datalistOptions">
      {% for tag in tags %}
      <option value="{{ tag.name }}" id="{{ tag.id }}"></option>
      {% endfor %}
    </datalist>
    <button class="btn btn-outline-secondary" id="addTagBtn">
      Add
    </button>
  </div>

  <input type="button" value="Publish" class="btn btn-main w-100" id="publishBtn"/>
</form>
{% endblock content %}
