:root {
    --main-color: rgb(121, 82, 179);
    --secondary-color:rgb(255, 228, 132);
    --bootstrap-primary-color: #0d6efd;
}

.bg-main {
    background-color: var(--main-color);
    color: white;
}

.btn-main {
    background-color: var(--main-color);
    color: white;
}

.btn-main:focus {
    box-shadow: 0 0 0 4px rgba(121, 82, 179, .25);
}

.btn-main:hover {
    background-color: var(--main-color);
    color: white;
}


.outline-secondary {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    font-weight: bold;
}

.outline-secondary:hover{
    color: black;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.outline-secondary:focus {
    box-shadow: 0 0 0 4px rgba(255, 228, 132, .25);
}

.footer {
    padding: 2rem;
}

.my-link {
    color: black;
    text-decoration: none;
}

.my-link:hover{
    color: var(--bootstrap-primary-color);
    text-decoration: underline;
    text-decoration-color: var(--bootstrap-primary-color);
}

.my-form > p {
    display: flex;
    align-items: center;
}

.my-form > p > label {
    margin-right: .5em;
}

.my-form input:focus, .my-form select:focus {
    box-shadow: 0 0 0 4px rgba(121, 82, 179, .25);
}