:root {
    --main-color: rgb(121, 82, 179);
    --secondary-color:rgb(255, 228, 132);
    --secondary-color-light:rgba(255, 228, 132, .8);
    --danger-color: rgb(239, 145, 145);
    --danger-color-light: rgb(245, 158, 158);

    --bootstrap-primary-color: #0d6efd;
}

.my-list {
    list-style: none;
}

.my-list > li:last-child {
    border: none !important;
}

.color-main, .my-link.color-main {
    color: var(--main-color);
}

.nav-link {
    color: rgba(255, 255, 255, 0.85) !important;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.nav-link.active {
    color: rgba(255, 255, 255, 1) !important;
}

.bg-main {
    background-color: var(--main-color);
    color: white;
}

.btn-main {
    background-color: var(--main-color);
    color: white;
}

.btn-main:focus {
    box-shadow: 0 0 0 4px rgba(121, 82, 179, .25);
}

.btn-main:hover {
    background-color: var(--main-color);
    color: white;
}


.outline-secondary {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    font-weight: bold;
}

.outline-secondary:hover{
    color: black;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.outline-secondary:focus {
    box-shadow: 0 0 0 4px rgba(255, 228, 132, .25);
}

.footer {
    padding: 2rem;
}

.my-link {
    color: black;
    text-decoration: none;
}

.my-link:hover{
    color: var(--bootstrap-primary-color);
    text-decoration: underline;
    text-decoration-color: var(--bootstrap-primary-color);
}

.my-form > p {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.my-form > p > label {
    margin-bottom: .5em;
}

.my-form input:focus, .my-form select:focus, .my-form textarea:focus {
    box-shadow: 0 0 0 4px rgba(121, 82, 179, .25);
}

.post-image {
    border-radius: 0.25em;
}

.post-info {
    border-bottom: 1px lightgray solid;
    padding-bottom: 1rem;
}

a.card {
    text-decoration: none;
    color: inherit;
}

.link-container {
    text-decoration: none;
    color: inherit;
    cursor: pointer;    
}

.post-date {
    font-size: .8em;
}

.author-avatar {
    width: 3em;
    aspect-ratio: 1;
    border-radius: 100%;
}

.profile-avatar {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    align-self: center;
}

.fit-content {
    width: fit-content;
}

.secondary-btn {
    width: fit-content;
    height: fit-content;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    font-weight: bold;
}

.secondary-btn:hover{
    background-color: var(--secondary-color-light);
    border-color: var(--secondary-color-light);
}


.secondary-btn:focus {
    box-shadow: 0 0 0 4px rgba(255, 228, 132, .25);
}

.danger-btn {
    width: fit-content;
    height: fit-content;
    background-color: var(--danger-color);
    border-color: var(--danger-color);
    font-weight: bold;
}

.danger-btn:hover{
    background-color: var(--danger-color-light);
    border-color: var(--danger-color-light);
}

.danger-btn:focus {
    box-shadow: 0 0 0 4px rgba(239, 132, 132, .25);
}

.post-buttons {
    position: absolute;
    top: .7em;
    right: .8em;
}

.pos-rel {
    position: relative;
}

.post-buttons a:focus {
    box-shadow: 0 0 0 4px rgba(121, 82, 179, .25);
}