{% extends 'layout.html' %} {% block content %}
<div class="col-xl-7 col-md-9 col-11 mx-auto">
  <h1 class="mb-2">{{ page }}</h1>
  <p>
    Ex exercitation commodo mollit ex consectetur ad velit pariatur proident id
    exercitation elit ut. Excepteur nulla fugiat voluptate proident mollit Lorem
    duis incididunt incididunt incididunt dolore proident ipsum. Consectetur
    dolore sit proident dolore. Lorem culpa magna quis tempor irure sint aliquip
    ea irure. Eiusmod commodo ad exercitation proident quis. Non cupidatat
    voluptate proident deserunt.
  </p>
  <p>
    Dolore velit proident minim dolore incididunt consequat cillum pariatur
    adipisicing reprehenderit do fugiat deserunt. Magna eu in laboris elit nulla
    ullamco laborum ex incididunt ipsum pariatur. Culpa pariatur aliqua velit
    nisi ut ullamco laborum culpa consequat non consequat qui aliqua proident.
    Consectetur fugiat fugiat minim adipisicing labore id aliquip ullamco labore
    exercitation non enim consectetur anim.
  </p>
</div>
{% endblock content %}
